body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.taskbar {
    position: fixed;
    bottom: 0%;
    width: 94%;
    height: 55px;
    background-color: white;
    border-radius: 70px 70px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s ease-in-out;
    box-shadow: inset 0px -3.75px 0px 0px lightgray;
    margin-left: 73px
}
.taskbar:hover{
    transition: 0.7s ease-in-out; 
    border-radius: 35px 35px 0px 0px;
    box-shadow: inset 0px -7px 0px 0px lightgrey;
    transform: scale(1.05);
}

/*homebutton here*/
.home-button {
    transition: 1s;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.219);
    border-style: solid;
    background-color: rgb(79, 136, 223);
    margin: 0 5px;
    color: white;
}
.home-button:hover {
    transition-delay: 0,1;
    transition: 0.5s;
    height: 70px;
    width: 70px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    background-color: rgb(79, 136, 223);
    color: white;
    box-shadow: inset 0px 0px 0px 3px white;
    margin: 5 5px;  
    margin-top: -35px;
    margin-left: -1.5px;
}

/*taskbar apps here*/
.tb-App {
    transition: 1s ease-out;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.219);
    border-style: solid;
    background-color: white;
    margin: 0 5px;
}
.tb-App:hover{
    transition-delay: 0,1;
    transition: 0.4s ease-in-out;  
    height: 70px;
    width: 70px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    background-color: black;
    color: white;
    box-shadow: inset 0px 0px 0px 3px white;
    margin: 5 5px;  
    margin-top: -35px;
    margin-left: -1.5px;
}

.TOS {
    border-radius: 10px;
    border: hidden;
    transition: 1s;
    color: black;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.floating-window {
    position: fixed;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    width: 400px;
    height: 430px;
    background-color: #ffffff;
    border: 1px solid #000000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    border-radius: 10px;
}

.window-header {
    background-color: rgb(79, 136, 223);
    padding: 5px;
    cursor: move;
}

.close-btn {
    float: right;
    cursor: pointer;
    transition: 1s;
}

.window-content {
    padding: 10px;

}

.backround-fade {
    transition: 0.3s ease-in-out;
}

.TOS-button {
    border-radius: 10px;
    border-style: double;
    border-color: #ffffff;
    transition: 1s;
    color: black;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.TOS-button:hover {
    transition-delay: 0.2s;
    transition: 0.4s;
    background-color: black;
    border-radius: 20px;
    color: #ffffff;
    font-size: larger;
}

.checkbox-style {
    border-radius: 10px;
    background-color: #ffffff;
    border-color: #000000;
}

.checkbox-style:hover {
    height: 10px;
    width: 10px;

}

.winname {
    transform: translateY(-60%);
}
